.button-1 {
    background-color: white;
    border-radius: 5px;
    border-color: #809585;
    border-width: 1px;
}

.logout {
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
}
